{% extends 'base.html' %}
{% load staticfiles %}
{% block task %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-secondary" role="alert" style="text-align: center;">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
<div class='container'>
        <h2 style="margin: 20px auto; width:35%">Edit task {{id}}</h2>
        <form action="/task/edit/{{id}}/" method="post" style="margin: 20px auto; align-content: center; width:35%">
            {%csrf_token%}
            {% for task in form %}
                    <p style="margin: 20px auto; min-width: 250px;">{{task.label}}: {{ task }}</p>
            {% endfor %}

            <br>
            <button type="submit" class="btn btn-lg btn-secondary btn-block">Edit</button>
        </form>
</div>

{% endblock %}
