{% extends 'base.html' %}

{% block show %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-secondary" role="alert" style="text-align: center;">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <form action="/task/show/" method="post" class="form-inline">
            {%csrf_token%}
            {% for task in form %}
                <p style="margin: 20px">{{task.label}}: {{ task }}</p>
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-lg btn-secondary btn-block">Use filters</button>
    </form>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Parent ID</th>
                <th>Name</th>
                <th>Text</th>
                <th>Deadline</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Creater</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}

                <tr>
                    <td style="width: 20px;">{{task.id}}</td>
                    <td style="width: 100px;">{{task.parent_id}}</td>
                    <td>{{task.name|safe}}</td>
                    <td>{{task.text}}</td>
                    <td>{{task.deadline}}</td>
                    <td>{{task.priority}}</td>
                    <td>
                        {% if task.status == 0 %}
                            Expect
                        {% elif task.status == 1 %}
                            Finished
                        {% else %}
                            Faild
                        {% endif %}
                    </td>
                    <td>{{task.creater}}</td>
                    <td style="width: 100px; padding: .75rem .40rem;">
                        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                          <div class="btn-group" role="group" aria-label="First group">
                            {% if task.status == 2 %}
                                <a role="button" class="btn btn-danger btn-sm" href="/task/addadmin/{{task.id}}">Add Admin</a>
                                <a role="button" class="btn btn-danger btn-sm"  href="/task/addperson/{{task.id}}">Add Person</a>
                                <a role="button" class="btn btn-danger btn-sm"  href="/task/removeadmin/{{task.id}}">Remove Admin</a>
                                <a role="button" class="btn btn-danger btn-sm"  href="/task/removeperson/{{task.id}}">Remove Person</a>
                            {% endif %}
                            {% if task.status == 1 %}
                                <a role="button" class="btn btn-success btn-sm" href="/task/addadmin/{{task.id}}">Add Admin</a>
                                <a role="button" class="btn btn-success btn-sm"  href="/task/addperson/{{task.id}}">Add Person</a>
                                <a role="button" class="btn btn-success btn-sm"  href="/task/removeadmin/{{task.id}}">Remove Admin</a>
                                <a role="button" class="btn btn-success btn-sm"  href="/task/removeperson/{{task.id}}">Remove Person</a>
                            {% endif %}
                            {% if task.status == 0 %}
                                <a role="button" class="btn  btn-secondary btn-sm" href="/task/addadmin/{{task.id}}">Add Admin</a>
                                <a role="button" class="btn  btn-secondary btn-sm"  href="/task/addperson/{{task.id}}">Add Person</a>
                                <a role="button" class="btn  btn-secondary btn-sm"  href="/task/removeadmin/{{task.id}}">Remove Admin</a>
                                <a role="button" class="btn  btn-secondary btn-sm"  href="/task/removeperson/{{task.id}}">Remove Person</a>
                            {% endif %}

                          </div>
                        </div>

                    </td>
                    {% if task.status == 2 %}
                        <td style="width: 80px; padding: .75rem .40rem;" align="right">
                            <a class="btn btn-danger btn-sm" href="/remove/{{task.id}}" role="button">Remove</a>
                        </td>
                        <td style="width: 60px; padding: .75rem .40rem;" align="right">
                            <a class="btn btn-danger btn-sm" href="/edit/{{task.id}}" role="button">Edit</a>
                        </td>
                        <td style="width: 70px; padding: .75rem .40rem;" align="right">
                            <a class="btn btn-danger btn-sm" href="/finish/{{task.id}}" role="button">Finish</a>
                        </td>
                    {% endif %}
                    {% if task.status == 1 %}
                        <td style="width: 80px; padding: .75rem .40rem;" align="right">
                            <a class="btn btn-success btn-sm" href="/remove/{{task.id}}" role="button">Remove</a>
                        </td>
                        <td style="width: 60px; padding: .75rem .40rem;" align="right">
                            <a class="btn btn-success btn-sm" href="/edit/{{task.id}}" role="button">Edit</a>
                        </td>
                        <td style="width: 70px; padding: .75rem .40rem;" align="right">
                            <a class="btn btn-success btn-sm" href="/finish/{{task.id}}" role="button">Finish</a>
                        </td>
                    {% endif %}
                    {% if task.status == 0 %}
                        <td style="width: 80px; padding: .75rem .40rem;" align="right">
                            <a class="btn btn-secondary btn-sm" href="/remove/{{task.id}}" role="button">Remove</a>
                        </td>
                        <td style="width: 60px; padding: .75rem .40rem;" align="right">
                            <a class="btn btn-secondary btn-sm" href="/edit/{{task.id}}" role="button">Edit</a>
                        </td>
                        <td style="width: 70px; padding: .75rem .40rem;" align="right">
                            <a class="btn btn-secondary btn-sm" href="/finish/{{task.id}}" role="button">Finish</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row justify-content-center">
        <div>
            <ul class="pagination">
                {% if tasks.has_previous %}
                    <li class="page-item"><a class="page-link   " href="/task/show/{{tasks.previous_page_number}}/">&laquo;</a> </li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="">&laquo;</a> </li>
                {% endif %}
                {% for page in tasks.paginator.page_range %}
                    {% if page == tasks.number %}
                        <li class="page-item"><a class="page-link" href="/task/show/{{page}}/" style="color: black;">{{page}}</a> </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="/task/show/{{page}}/" style="color: black;">{{page}}</a> </li>
                    {% endif %}
                {% endfor %}
                {% if tasks.has_next %}
                    <li class="page-item"><a class="page-link" href="/task/show/{{tasks.next_page_number}}/">&raquo;</a> </li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="">&raquo;</a> </li>
                {% endif %}

            </ul>
        </div>
    </div>
{% endblock %}
