{% extends 'base.html' %}

{% block login %}
    <div class="container">
        <form class="form-signin" style="width: 35%;margin:10% auto;" action="/auth/login/" method="post">
            {% csrf_token %}
            <label for="username" class="form-signin-heading">Имя пользователя</label>
            <input type="text" name="username" id="username" class="form-control">
            <label for="password" class="form-signin-heading">Пароль</label>
            <input type="password" name="password" id="password" class="form-control">
            {% if login_error %}
                <label for="error"> {{ login_error }} </label>
            {% endif %}
            <input type="submit" style="margin: 20px auto" class="btn btn-lg btn-secondary btn-block" value="Войти">
            <div><a href="/auth/register/" style="color: black; font-style: oblique;">Регистрация</a></div>
        </form>
    </div>

{% endblock %}
