{% extends 'base.html' %}

{% block login %}
    <div class="container">
        <form class="form-signin" style="width: 220px;margin:10% auto;" action="/auth/register/" method="post">
            {% csrf_token %}
            {% for field in form %}
              <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% for error in field.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}

            <input type="submit" class="btn btn-lg btn-secondary btn-block" value="Зарегестрироваться">
        </form>
    </div>

{% endblock %}
