{% extends 'base.html' %}
{% load staticfiles %}
{% block recurrent %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-secondary" role="alert" style="text-align: center;">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <div class='container'>
        <h2 style="margin: 20px auto; width:35%">New recurrent task</h2>
        <form action="/recurrent/createrec/" method="post" style="margin: 20px auto; align-content: center; width:35%">
            {%csrf_token%}
            {% for rec_task in form %}
                    <p style="margin: 20px auto; ">{{rec_task.label}}: {{ rec_task }}</p>
            {% endfor %}

            <br>
            <button type="submit" class="btn btn-lg btn-secondary btn-block">Add</button>
        </form>
    </div>

{% endblock %}
