{% extends 'base.html' %}

{% block show_rec %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-secondary" role="alert" style="text-align: center;">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Parent ID</th>
                <th>Name</th>
                <th>Text</th>
                <th>Type</th>
                <th>Next Date</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Creater</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}

                <tr>
                    <td>{{task.id}}</td>
                    <td>{{task.parent_id}}</td>
                    <td>{{task.name}}</td>
                    <td>{{task.text}}</td>
                    <td>{{task.typetask}}</td>
                    <td>{{task.startdate}}</td>
                    <td>{{task.priority}}</td>
                    <td>{{task.status}}</td>
                    <td>{{task.creater}}</td>
                    <td style="width: 200px;" align="right">
                        <a class="btn btn-secondary btn-sm" href="/recurrent/removerec/{{task.id}}" role="button">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row justify-content-center">
        <div>
            <ul class="pagination">
                {% if tasks.has_previous %}
                    <li class="page-item"><a class="page-link   " href="/recurrent/show/{{tasks.previous_page_number}}/">&laquo;</a> </li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="">&laquo;</a> </li>
                {% endif %}
                {% for page in tasks.paginator.page_range %}
                    {% if page == tasks.number %}
                        <li class="page-item"><a class="page-link" href="/recurrent/show/{{page}}/" style="color: black;">{{page}}</a> </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="/recurrent/show/{{page}}/" style="color: black;">{{page}}</a> </li>
                    {% endif %}
                {% endfor %}
                {% if tasks.has_next %}
                    <li class="page-item"><a class="page-link" href="/recurrent/show/{{tasks.next_page_number}}/">&raquo;</a> </li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="">&raquo;</a> </li>
                {% endif %}

            </ul>
        </div>
    </div>
{% endblock %}
