{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        .body-cl{
            background: #F5F5F5
        }

    </style>
</head>
<body class="body-cl">
<div class="top-bar">
    <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="/task/createtask/">Создать Задание</a>
                <a class="navbar-brand" href="/task/show/">Показать Задания</a>
                <a class="navbar-brand" href="/recurrent/createrec/">Создать Рек.</a>
                <a class="navbar-brand" href="/recurrent/show/">Показать Рек.</a>
                {% if username %}
                    <a class="navbar-brand" href="/auth/logout/">Выйти ({{ username }})</a>
                {% else %}
                    <a class="navbar-brand" href="/auth/login/">Войти</a>
                {% endif %}

    </nav>
</div>
    {% block show %}{% endblock %}
    {% block show_rec %}{% endblock %}
    {% block recurrent %}{% endblock %}
    {% block task %}{% endblock %}
    {% block index %} {% endblock %}
    {% block result %} {% endblock %}
    {% block vote %}{% endblock %}
    {% block detail %}{% endblock %}
    {% block login %}{% endblock %}
</body>
</html>
